@import 'Variables'; 

#projects{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 80px auto;
}

#proj-left-col{
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 2em; 
    animation: fadeIn ease 5s; 
    -webkit-animation: fadeIn ease 5s;
    text-align: center;
    margin: auto;
}

.card-container{
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}

.project-card{
    background-color: #398EA7;
    border: 1px solid black;
    padding: 10px; 
    
    img{
        float: left;
    }
    span{
        padding: 10px;
    }
}

.project-card ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.project-card p{
    padding: 2em;
}

.skill-bubble{
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 2em;
    padding: 5px;
}