@import 'Variables'; 

#projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

#projects-container{
    margin-top: 40px;

    h2{
        text-align: center;
        color: white;
    }
}

#proj-left-col{
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 2em; 
    animation: fadeIn ease 5s; 
    -webkit-animation: fadeIn ease 5s;

    margin: auto;
}

.card-container{
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 1fr);
    color: white;
    font-size: 1.2em;


}

.project-card{
    background-color: $main-color-light;
    border: 1px solid $main-color-light;
    border-radius: 16px;
    box-shadow: 5px 5px $main-color-dark;
    padding: 10px; 
    margin: 10px;
    img{
        float: left;
    }
    span{
        padding: 10px;
        text-align: center;
    }
}

.project-card ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.project-card p{
    padding: 2em;
}

.skill-bubble{
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 2em;
    padding: 5px;
}