
#skills{
    background-color: #35525b;
    height: 100vh;
    display: flex; 
}

.skills-left-col{
    margin:auto; 
    text-align: center;
    vertical-align: middle;
    font-size: 2em; 
    animation: fadeIn ease 5s; 
    -webkit-animation: fadeIn ease 5s;
    

    p{
        padding: 1em; 
        font-size: 1.5 em;
    }
}

.skills-container{
    grid-column-start: 2;
    display: flex; 
    flex-flow: row;
    justify-content: space-between;
    margin: auto; 
}
 
.skill-icons{
    font-size: 4em;
    padding: .5em;
    margin-top: .5em;
}

.skill-list{
    text-align: center;
    padding: 2em;

    h2{
        padding: 2em; 
        color: black;
    }
}