@import 'Variables'; 

#skills{
    background-color: #418397;
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 1fr);
}

.skills-left-col{
    margin:auto; 
    text-align: center;
    vertical-align: middle;
    font-size: 2em; 
    animation: fadeIn ease 5s; 
    -webkit-animation: fadeIn ease 5s;
    grid-row-start: 2;
    grid-row-end: 5;

    p{
        padding: 1em; 
        font-size: 1.5 em;
    }
}

.skills-container{
    grid-column-start: 2;
    grid-row-start: 2; 
    grid-row-end: 4;
    //display: flex; 
    //flex-flow: column;
    justify-content: space-around;
    margin: auto; 
}
 
.skill-icons{
    font-size: 4em;
    padding: .5em;
    margin-top: .5em;
}

.skill-list{
    text-align: center;
    padding: 2em;

    h2{
        padding: 2em; 
        color: black;
    }
}