#skills {
  background-color: #418397;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(5, 1fr);
}

.skills-left-col {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  grid-row-start: 2;
  grid-row-end: 5;
}
.skills-left-col p {
  padding: 1em;
  font-size: 1.5 em;
}

.skills-container {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-content: space-around;
  margin: auto;
}

.skill-icons {
  font-size: 4em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.skill-list {
  text-align: center;
  padding: 2em;
}
.skill-list h2 {
  padding: 2em;
  color: black;
}

#contact {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 40% auto 40%;
  height: 100vh;
  top: 40px;
  bottom: 20px;
}

.contact-me-left-col {
  grid-row-start: 2;
}
.contact-me-left-col h1 {
  font-size: 2em;
  padding: 20px;
}
.contact-me-left-col p {
  font-size: 1.5em;
  padding: 2em;
}

.contact-me-right-col {
  grid-row-start: 2;
}

#contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 60%;
}
#contact-form input[type=text] {
  background-color: #7bb3c4;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#contact-form input[type=email] {
  background-color: #7bb3c4;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#contact-form textarea {
  resize: none;
  background-color: #7bb3c4;
}
#contact-form input[type=submit] {
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  text-align: center;
}

#projects {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 80px auto;
}

#proj-left-col {
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 2em;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  text-align: center;
  margin: auto;
}

.card-container {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  text-align: center;
}

.project-card {
  background-color: #398EA7;
  border: 1px solid black;
  padding: 10px;
}
.project-card img {
  float: left;
}
.project-card span {
  padding: 10px;
}

.project-card ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

.project-card p {
  padding: 2em;
}

.skill-bubble {
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 2em;
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #122C34;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  background-color: #22181C;
  height: 80px;
  margin-top: 0px;
  margin-right: 10px;
  float: top;
  width: 100vw;
  z-index: 100;
  position: fixed;
  font-size: 1.5em;
}
nav span {
  float: left;
  text-align: center;
  margin: 15px 15px auto;
  font-size: 1.5em;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1em;
}
nav ul li a {
  display: block;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #4d4246;
}

.container {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

.child {
  scroll-snap-align: start;
}

#home {
  height: 100vh;
  text-align: center;
  top: 40px;
  bottom: 20px;
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 40% auto 40%;
}
#home h1 {
  font-size: 5em;
  float: right;
}
#home p {
  right: 24px;
  font-size: 2em;
}

#about {
  height: 100vh;
  background-color: #398EA7;
}

.about-text {
  text-align: center;
  margin: auto;
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 1.5em;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.name {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 4;
  text-align: center;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
